@model QuanLyKho.DTO.ProductInfoModel
@using QuanLyKho.Extensions

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">

        <table class="table table-bordered table-striped">
            <tr>
                <td>@Html.DisplayNameFor(m => m.Id)</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Name)</td>
                <td>@Model.Name</td>
            </tr>

            <tr>
                <td>Total Quantity</td>
                <td>@Model.Quantity</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Category)</td>
                <td>@Html.DisplayFor(m => m.Category.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Description)</td>
                <td>@Html.DisplayFor(m => m.Category.Description)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Unit)</td>
                <td>@Html.DisplayFor(m => m.Unit)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Price)</td>
                <td class="text-bold">@(Helpers.PriceToVND(Model.Price)) vnd </td>
            </tr>

        </table>
        <hr />

        <div>
            <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a class="btn btn-link" asp-action="Index">Back to List</a>
        </div>

        <hr />
        @{
            if (Model.ProductWarehouses != null)
            {
                <p class="text-bold">Product quantity details:</p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Warehouse</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var pw in Model.ProductWarehouses)
                        {
                            <tr>
                                <td>@pw.WareHouseId</td>
                                <td>@pw.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
</div>
