@using QuanLyKho.Models.Entities
@model Dictionary<DetailedConfig,string>


@{
    ViewBag.title = "Edit product configs";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            Edit detailed product configurations
        </div>

    </div>
    <div class="card-body">
        @if (Model!.Count > 0)
        {
            <form asp-action="EditConfigs" method="post">
                <input type="hidden" name="productId" value="@ViewBag.productId" />
                <input type="hidden" name="configIds" value="@Json.Serialize(Model.Keys.Select(key => key.Id).ToArray()).ToString()" />
                <div class="row">
                    @foreach (var config in Model)
                    {
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="@config.Key.Id">@config.Key.Name</label>
                                <textarea name="configValues[]" id="@config.Key.Id" class="form-control form-input" rows="4">@config.Value</textarea>
                            </div>
                        </div>
                    }
                </div>
                <input type="submit" class="btn btn-primary btn-block" />
            </form>
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_Summernote", new {height = 200, selector = ".form-input"})
}