@model QuanLyKho.Models.Entities.Receipt
@using QuanLyKho.Extensions
@{
    Layout = null;
    var title = Model.Type == QuanLyKho.Models.Entities.ReceiptType.Import ? "Phiếu nhập kho" : "Phiếu xuất kho";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div class="container-fluid pt-5">
        <div id="print" class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card ">
                    <div class="card-header text-center">
                        <h1 class="card-title">@title</h1>
                        <p class="card-subtitle mb-2 text-muted">Ngày nhập: @Model.DateCreated.ToShortDateString()</p>
                    </div>
                    <div class="card-body px-5">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>Mã hàng</th>
                                    <th>Tên hàng</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá(vnd)</th>
                                    <th>Thành tiền(vnd)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detail in Model.ReceiptDetails)
                                {
                                    <tr>
                                        <td>@detail.ProductId</td>
                                        <td>@detail.Product.Name</td>
                                        <td class="font-weight-bold">@detail.Quantity</td>
                                        <td class="font-weight-bold">@Helpers.PriceToVND(detail.Product.Price)</td>
                                        <td class="font-weight-bold">@detail.getAmountToVND()</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" class="text-right font-weight-bold">Tổng tiền:</td>
                                    <td class="font-weight-bold">@(Model.getTotalPrice()) vnd</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
              
                    <div style="height: 650px">
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <td>Người lập phiếu<p>(ký tên, ghi rõ họ tên)</p></td>
                                <td>Người giao hàng<p>(ký tên, ghi rõ họ tên)</p></td>
                                <td>Thủ kho<p>(ký tên, ghi rõ họ tên)</p></td>
                                <td>Kế toán trưởng<p>(ký tên, ghi rõ họ tên)</p></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p style="height: 100px"></p>
                                </td>
                                <td>
                                    <p style="height: 100px"></p>
                                </td>
                                <td>
                                    <p style="height: 100px"></p>
                                </td>
                                <td>
                                    <p style="height: 100px"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

