@model IEnumerable<QuanLyKho.Models.Entities.Order>
@using QuanLyKho.Models.Entities
@using QuanLyKho.Extensions;

@{
    ViewData["Title"] = "Index";
    ViewData["PrimaryTitle"] = "Orders";

}

@section Styles {
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/admin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

}


<!-- /.card -->
<div class="card">
    <div class="card-header">
        
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Display based on type:</label>
                        <select class="form-control" id="display-select" asp-for="@ViewData["filter"]" name="filter">
                            <option value="All">All</option>
                            <option value="NotApproved">Not approved</option>
                            <option value="BeingShipped">Being shipped</option>
                            <option value="Success">Success</option>
                            <option value="Canceled">Canceled</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-app mt-3" id="filter-btn">
                        <i class="fas fa-filter"></i> Filter
                    </button>
                </div>
            </div>
        </form>


        @if(Model != null && Model.Count() > 0)
        {
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Total(VNĐ)</th>
                        <th>Payment status</th>
                        <th>Ship status</th>
                        <th>Date created</th>
                        <th>Last updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CustomerName</td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                            <td>@Helpers.PriceToVND(item.Total)</td>
                            <td>@item.PaymentMethod</td>
                            <td>@item.ShipStatus</td>
                            <td>@item.CreatedTime.ToCustomDateTimeStr()</td>
                            <td>@item.LastUpdated.ToCustomDateTimeStr()</td>
                            @*<td>@item.Status</td>*@
                            <td class="text-center">
                                <a class="btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                                <a class="btn-sm btn-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-tools"></i></a>
                                @*<a class="btn-sm btn-outline-success border @(item.Status == Status.Show ? "border-success" : "")" asp-action="Display" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>*@
                                @*<a style="cursor: pointer" class="btn-sm btn-danger btn-delete" data-id="@item.Id">
                                    <i class="fas fa-trash"></i>
                                </a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="modal-sm" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Change status category ?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {

    <!-- DataTables  & Plugins -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <script src="~/admin/plugins/sweetalert2/sweetalert2.min.js"></script>



    <script>
        $(function () {
            const table = $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            })

            table.buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            $('.btn-delete').click(function () {
                var clickedBtnID = $(this).attr('data-id');

                console.log(clickedBtnID)

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            url: `/News/Delete/${clickedBtnID}`,
                            method: 'post'
                        }).done(() => {

                            const tr = $(this).parents('tr');

                            table.row(tr).remove().draw()

                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                        }).fail(() => {
                            Toast.fire({
                                icon: 'error',
                                title: 'Something went wrong.'
                            })
                        })


                    }
                })
            })

        });
        $('#modal-sm').modal(options)
    </script>

}

